#navbar ul { display: none; }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { float: left; }
#navbar ul li { float: none; }
#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
}
#navbar li {
  float: left;
  position: relative;
}
#navbar { height: 30px; }
#navbar ul {
  display: none;
  background-color: #0000 ;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
    border-radius: 40px 40px;
}
#navbar {
  height: 70px;
  background-color: #000000 ;
  padding-left: 20px;
  min-width: 470px;
  
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: inline-block;
  padding: 20px;
  width: 110px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #FF0000 ; }
#navbar ul li:hover { background-color: #FF0000; }

text-decoration: none; 
  font-family: sans-serif;
}
.cena{
	font-family: sans-serif;
	font-size: 40px;
	font-weight:bold;
	font-weight: 500;
	color:#ff0000;
	
}

